{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'home' %}" class="brand-link">
    <img src="{% static 'bwt2024/assets/img/logo.png' %}" alt="Bosch Logo" class="brand-image" style="opacity: .8">
    <span class="brand-text font-weight-light">&nbsp;</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    {% if request.user.is_authenticated %}
    <!-- Sidebar user -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'bwt2024/assets/img/avatar.png' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block" data-toggle="tooltip" title="{{ request.user.username }}">{{ request.user.first_name }} {{ request.user.last_name }}</a>
      </div>
      <div>
        <a class="info" style="color: #c2c7d0;" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"
            data-toggle="tooltip" title="Logout"></i></a>
      </div>
    </div>
    {% endif %}

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
        <li class="nav-header">ProVIRT</li>
        <!-- Home -->
        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Home
            </p>
          </a>
        </li>

        {% if request.user.is_anonymous %}
        <!-- item 1 -->
        <li class="nav-item">
          <a href="{% url 'login' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Login
            </p>
          </a>
        </li>
        {% endif %}


        {% if request.user.is_authenticated %}
        
        <!-- item 1 -->
        <li class="nav-item">
          <a href="{% url 'object_unit_list_edit' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              List/Edit
            </p>
          </a>
        </li>
        

        <!-- item 2 -->
        <li class="nav-item">
          <a href="{% url 'object_unit_list' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              List/Create/Edit
            </p>
          </a>
        </li>

        <!-- item 3 -->
        <li class="nav-item">
          <a href="{% url 'object_upload' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Upload
            </p>
          </a>
        </li>

        <!-- item 4 -->
        <li class="nav-item">
          <a href="{% url 'object_unit_download' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Download
            </p>
          </a>
        </li>
        
        <!-- item 5 -->
        <li class="nav-item">
          <a href="/api/" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              API
            </p>
          </a>
        </li>

        {% endif %}

        {% if request.user.is_staff %}
        <!-- item 1 -->
        <li class="nav-item">
          <a href="{% url 'admin:index' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Admin
            </p>
          </a>
        </li>
        {% endif %}


      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>