{% load static %}

<div style="height: 5px;">
    &nbsp;
</div>
<footer class="main-footer" style='background-image: url("/static/assets/img/cd_bosch_supergraphic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0.15rem 0.3rem 0.15rem 0.3rem;
    display: block;
    width: calc(100% - 250px);
    position: absolute;
    '>
    <div>
        <div style="font-size: 0.7rem; color: #fff;">
            Copyright &copy; Robert Bosch - XC/EVI 2024
        </div>
    </div>
</footer>