# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.log
*.sqlite3

# venv
env
venv

# packages
*.whl


# project specific
static/*
nvd
media/*
uploads/*



# other
.DS_Store

# javascript
package-lock.json



.vscode/symbols.json
.vscode/*

