{% extends "layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
  .card-body {
    padding: 1rem;
  }

  .card {
    margin-bottom: 0rem;
  }

  .content-wrapper{
    min-height: 100% !important;
  }

</style>

{% endblock stylesheets %}

{% block content %}
<main>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% include 'includes/header.html' %}

    <!-- Main content -->
    <section class="content">

      <div class="container-fluid">
        <div class="row">

          <div class="col-xl-12 col-md-12 mb-12">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <h2>Home </h2>
                <br><br>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>
    <!-- /.content -->
  </div>
</main>
<div style="height: 15px;"></div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}