{% extends "layouts/base.html" %}
{% load static %}
{% block title %} BOM Dictionary {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link rel="stylesheet" href="{% static 'bwt2024/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'bwt2024/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'bwt2024/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

<style>
  .content-wrapper {
    min-height: 100% !important;
  }

  .page-item.active .page-link {
    color: #fff;
    pointer-events: none;
    cursor: auto;
    background-color: #6c757d;
    border-color: #dee2e6;
  }

  .page-item .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }

    /* Additional styles for table separation */
  #bom_dictionary td {
    border-right: 1px solid #dee2e6; /* Adds a right border to each cell */
    padding: 8px; /* Adds padding within each cell */
  }
  #bom_dictionary th,
  #bom_dictionary td {
    text-align: left; /* Aligns text to the left in each cell */
    vertical-align: middle; /* Centers text vertically in each cell */
  }
  #bom_dictionary th:last-child,
  #bom_dictionary td:last-child {
    border-right: none; /* Removes the right border for the last cell in a row */
  }
</style>

{% endblock stylesheets %}

{% block content %}
<main>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% include 'includes/header.html' %}
    <!-- Main content -->
    <section class="content">
      <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {% include 'includes/messages.html' %}
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">BOM Dictionary List</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="bom_dictionary" class="table table-striped">
              <thead>
                <tr>
                  <th colspan="3" style="text-align: center;">Black Duck Component</th>
                  <th colspan="4" style="text-align: center; border-left: 2px solid #dee2e6;">MITRE/NVD</th>
                  <th rowspan="2" style="text-align: center; vertical-align: middle; border-left: 2px solid #dee2e6;">
                    Edit</th>
                </tr>
                <tr>
                  <th style="vertical-align: middle;">Name</th>
                  <th style="text-align: center; vertical-align: middle;">Version</th>
                  <th style="vertical-align: middle;">Homepage</th>
                  <th style="vertical-align: middle; border-left: 2px solid #dee2e6;">Name</th>
                  <th style="text-align: center; vertical-align: middle;">Version</th>
                  <th style="vertical-align: middle;">Vendor</th>
                  <th style="vertical-align: middle;">CPE</th>
                </tr>
              </thead>
              <tbody>
                {% for object_unit in object_unit_list %}
                <tr>
                  <!-- Black Duck Component -->
                  <td style="vertical-align: middle;">{{ object_unit.name|default_if_none:"-" }}</td>
                  <td style="text-align: center; vertical-align: middle;">{{ object_unit.version|default_if_none:"-" }}</td>
                  <td style="vertical-align: middle;">{{ object_unit.homepage|default_if_none:"-" }}</td>
                  
                  <!-- MITRE/NVD Section -->
                  <td style="vertical-align: middle; border-left: 2px solid #dee2e6;">{{ object_unit.mitre_name|default_if_none:"-" }}</td>
                  <td style="text-align: center; vertical-align: middle;">{{ object_unit.mitre_version|default_if_none:"-" }}</td>
                  <td style="vertical-align: middle;">{{ object_unit.vendor|default_if_none:"-" }}</td>
                  <td style="vertical-align: middle;">{{ object_unit.cpe|default_if_none:"-" }}</td>
                  
                  <td style="text-align: center; vertical-align: middle; border-left: 2px solid #dee2e6;">
                    <button type="submit" name="btn_object_unit_edit" value="{{ object_unit.id }}" class="btn btn-tool">
                      <i class="fas fa-edit"></i>
                    </button>
                  </td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        <!-- /.card -->
      </form>
          <!-- /.card-body -->
          <div class="card-footer">
            <a href="{% url 'object_unit_create' %}" class="btn btn-outline-secondary">
                <i class="fas fa-plus"></i> &nbsp;Add dictionary entry
            </a>
        </div>
                  

    </section>
    <!-- /.content -->
  </div>
  <!-- ./wrapper -->
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- DataTables  & Plugins -->
<script src="{% static 'bwt2024/assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bwt2024/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'bwt2024/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'bwt2024/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'bwt2024/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'bwt2024/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'bwt2024/assets/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'bwt2024/assets/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'bwt2024/assets/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'bwt2024/assets/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'bwt2024/assets/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'bwt2024/assets/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script>
  $(function () {
    $("#bom_dictionary").DataTable({
      "responsive": true, "lengthChange": true, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "columnDefs": [
        { "width": "15%", "targets": 0 },
        { "width": "6%", "targets": 1 },
        { "width": "22%", "targets": 2 },
        { "width": "12%", "targets": 3 },
        { "width": "6%", "targets": 4 },
        { "width": "10%", "targets": 5 },
        { "width": "24%", "targets": 6 },
        { "width": "5%", "targets": 7 }]
    }).buttons().container().appendTo('#bom_dictionary_length');
  });
</script>

{% endblock javascripts %}