{% extends "layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} List Edit {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
  .content-wrapper {
    min-height: 100% !important;
  }
</style>

{% endblock stylesheets %}

{% block content %}
<main>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% include 'includes/header.html' %}
    <!-- Main content -->
    <section class="content">
      <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.management_data }}
        {% include 'includes/messages.html' %}
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Download</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="table-responsive">
              <table id="businessunits" class="table table-hover" style="margin-bottom: 0px;">
                <thead>
                  <tr>
                    <th style="vertical-align: middle; width: 20%;">Component</th>
                    <th style="vertical-align: middle; width: 75%;">Version</th>
                    <th style="vertical-align: middle; width: 5%; text-align: center;">Delete</th>
                  </tr>
                </thead>
                <tbody style="background-color: #f5f5f5;">
                  {% for form in formset %}
                  {{ form.non_field_errors }}
                  {{ form.errors }}
                  <tr>
                    <td style="vertical-align: middle;">
                      {% render_field form.id class="form-control" %}
                      {% render_field form.component class="form-control" %}</td>
                    <td style="vertical-align: middle;">{% render_field form.version class="form-control" %}</td>
                    <td style="vertical-align: middle; text-align: center">{{ form.DELETE }}</td>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3" style="text-align: right; margin-right: 1.25rem;">
                        <button type="submit" class="btn btn-outline-secondary" name="btn_download_excel" style="background-color: white;">
                            <i class="fas fa-file-excel"></i> &nbsp;&nbsp;Download Excel
                        </a>
                        <button type="submit" class="btn btn-outline-secondary" name="btn_list_edit_save" style="background-color: white;">
                          <i class="fas fa-save"></i> &nbsp;&nbsp;Save</button>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- ./wrapper -->
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}