{% extends "layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Business Unit {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
  .content-wrapper {
    min-height: 100% !important;
  }
</style>

{% endblock stylesheets %}

{% block content %}
<main>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% include 'includes/header.html' %}
    <!-- Main content -->
    <section class="content">
      <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.management_data }}
        {% include 'includes/messages.html' %}
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Business Units</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="table-responsive">
                {{ texto }}
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- ./wrapper -->
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}